<%= link_to 'Add a Place', new_place_path, class:"button" %>


 <% @places.in_groups_of(2, false).each do |group|%>
    <div class="row">
      <% group.each do |place|%>
      <div class="column column-25">
    <%= link_to image_tag( place.photo), place_path(place.id), class:"user-photo" %>
    </div>
  <div class="column">
    <p>
      <strong>Name:</strong>
      <%= place.name %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= place.location %>
    </p>
    <p>
      <strong>Description</strong>
      <%= place.equipment %>
    </p>
  </div>
      <% end %>
    </div>
  <% end%>