<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyA0rk9ow7iUSicnbIQdPvAjjJHHhB2nq_Q"></script>


<h1><%= @place.name %></h1>
<div class="row">
  <div class="column column-50">
  <%= image_tag @place.photo %>
  </div>
  <div class="column column-25">
      <p>
        <strong>Name:</strong>
        <%= @place.name %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @place.location %>
      </p>
      <p>
        <strong>Equipment</strong>
        <%= @place.equipment %>
      </p>
      <% if current_user && !@place.users.exists?(current_user.id)%>
        <%= link_to "Add To My Loctaions", add_ul_path(@place.id), method: "post",  class:"button" %>
      <% elsif current_user %>
        <%= link_to "Remove From My Locations", place_path(@place.id), method:"delete", class:"button delete"%>
      <% end %>
      <%= link_to "Edit", edit_place_path(@place.id), class:"button"%>
      <% if current_user && !Like.exists?(user_id: current_user.id,place_id: @place.id)%>
        <%= link_to "Like", new_like_path(id: @place.id), class:"button" %>
      <% elsif current_user%>
        <%= link_to "Unlike", like_path(@place.id), method: "delete", class:"button delete"%>
      <% end %>
    </div>
    <div id="gmap" class="column column-25"></div>
  </div>
  <strong>Liked By</strong>
  <% @likes.in_groups_of(2, false).each do |like|%>
  <div class="row">
    <% like.each do |l|%>
      <%= image_tag  User.find(l.user_id).photo, class:"column column-10 likes-photo"%>
      <% end %>
  </div>
  <% end %>
</div>

<script src="https://maplacejs.com/dist/maplace.min.js"></script>
<script type="text/javascript">
$(function() {
    new Maplace({
        locations: [{lat: <%= @place.latitude %> , lon: <%=@place.longitude%>, zoom:15}],
        controls_on_map: false
    }).Load()
});
</script>

