<!DOCTYPE html>
<html>
  <head>
    <title>CalisthenicWarriors</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <div class="row">
        <% if current_user%>
          <%= link_to image_tag( 'http://via.placeholder.com/250x150'), user_path(current_user.id), class:"column column-25" %>
        <% else %>
          <%= link_to image_tag( 'http://via.placeholder.com/250x150'), root_path, class:"column column-25" %>
        <% end %>
        <h1 class="column column-50">Calisthenic Warriors</h1>
        <nav class="column column-25 row">
          <% if current_user %>
            <li>
              Welcome, <%= current_user.name %>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
            </li>
          <% else %>

            <li><%= link_to 'Log In', login_path%> <%= link_to 'Sign Up', new_user_path%></li>
          <% end %>
            <li><%= link_to 'Warriors', users_path %><%= link_to 'Locations', users_path %></li>
        </nav>
      </div>
      <hr>
    </header>
      <div class="container">
      <%= yield %>
      </div>
  </body>
</html>
